h2 em { font-size: 12px; font-style: normal;}
li span a { font-size: 16px; font-weight: bold; padding: 0px 4px; color: #00A8E6;}

.list ul { margin: 0;}
.list li { list-style-type: none; margin: 10px 0px;}
.list a {color: #00A8E6;}

.button { padding: 2px 4px 0px 4px; font-size: 16px; font-weight: bold; padding: 0px 4px;}

#header h2 { font-size: 13px; float: left; width: 360px;}
#user {float: left; margin: 10px; font-size: 13px; font-weight: normal; color: #555;}
#user p {font-size: 10px; margin: 0; padding: 0; line-height: 10px; color: #999;}
#content { width: 960px;}
#content h2 {margin-top: 0;}

#content { clear: both; float: left; width: 960px;}

#latest-ideas { float: left; width: 300px;}

#popular-ideas {float: left;width: 300px;margin-left: 20px;}

#tweets {float: left;width: 300px;margin-left: 20px; font-size: 13px;}

